.photo-container img {
    height: 100%;
    width: 100%;
}

.photo-container {
    box-shadow: var(--shadow);
    background-color: var(--color-dark-faint);

    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 8%;
}

