.circle-container {
    position: relative;
    width: 100%;
    height: 50%;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transition: 1.3s ease-out;
    z-index: 2;
    aspect-ratio: 1/1;

    pointer-events: none;
}

.circle-container:hover #circle-1, .circle-container:active #circle-1 {
    transform: rotate(405deg) translate(-7%, 0%) scale(0.7, 0.7);
    transition-duration: 1.5s;
}

.circle-container:hover #circle-2, .circle-container:active #circle-2 {
    transform: rotate(250deg) translate(5%, -8%) scale(1.5, 1.5);
    transition-duration: 1.25s;
}

.circle-container:hover #circle-3, .circle-container:active #circle-3 {
    transform: rotate(-105deg) translate(-13%, 5%) scale(0.7, 0.7);
    transition-duration: 1.5s;
}

.circle-container:hover #circle-4, .circle-container:active #circle-4 {
    transform: rotate(-235deg) translate(22%, -5%) scale(0.3, 0.3);
    transition-duration: 1.75s;
}

.circle-container:hover #circle-5, .circle-container:active #circle-5 {
    transform: rotate(150deg) translate(-1%, -40%) scale(2, 2);
    transition-duration: 1.25s;
}