.card-container {
    position: relative;
    height: 40%;
    width: 40%;
    align-self: center;
}

.card {
    transform: translateX(-25%);
    position: absolute;
    background-color: var(--color-secondary);
    width: calc(40% + 15vh);
    aspect-ratio: 6/8;
    left: 25%;

    box-shadow: var(--shadow);

    border-radius: 10%;

    transition: 0.75s ease;
    pointer-events: none;
}

.logo-img {
    max-width: 100%;
    pointer-events: none;
    width: 60%;
    margin-top: 20%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#logo-3 {
    transform: scaleX(-1);
    width: 100%;
    margin-top: 0;
    opacity: 0%;
    animation: flip-card-reverse 0.75s ease;
}

.card-container:hover #logo-3, .card-container:active #logo-3 {
    opacity: 100%;
    animation: flip-card 0.75s ease;
}

@keyframes flip-card {
    0% {
        opacity: 0%;
    }
    30% {
        opacity: 0%;
    }
    31% {
        opacity: 100%;
        transition: 0s;
    }
}

@keyframes flip-card-reverse {
    0% {
        opacity: 100%;
    }
    30% {
        opacity: 100%;
    }
    31% {
        opacity: 0%;
    }
}

#pointer {
    position: absolute;
    scale: 0.3;
    z-index: 9;
    top: 10%;
    left: 5%;
    width: 100%;
    height: 100%;
    animation: cursor-bob 2s ease 0s infinite;
    transition-duration: 1s;
    transition-delay: 2s;
}

.card-container:hover #pointer, .card-container:active #pointer {
    opacity: 0;
    transition: 0.2s;
}

@keyframes cursor-bob {
    50% {
        transform: translate(-20%, -20%);
    }
}

@keyframes cursor-vanish {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}


.card-container:hover #card-1, .card-container:active #card-1 {
    transform: translate(-75%, -55%) rotate(30deg);
}

.card-container:hover #card-2, .card-container:active #card-2 {
    transform: translate(30%, -45%) rotate(-10deg);
}

.card-container:hover #card-3, .card-container:active #card-3 {
    transform: translate(-80%, 80%) rotate(-20deg) scaleX(-1);
}

.card-container:hover #card-4, .card-container:active #card-4 {
    transform: translate(50%, 70%) rotate(20deg);
}
